/** css for index.html file **/

body {
    background-color: white;
    margin-left: 0%;
    margin-right: 0%;
}

header {
    margin: auto;
    width: 960px;
    
}

#titleName {
    background-color: black;
    margin-left: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    color: whitesmoke;
    font-size: 30px;
    display: block;
}

.navBarRight {
    display: inline;
    background-color: white;
    font-size: 20px;
    color: grey;
    padding-top: 20px;
    padding-right: 5px;
    float: right;
}

.container {
    clear: both;
    margin: auto;
    width: 100%;
    background: url("../images/background2.png");
    border-top: 2px solid black;
    border-bottom: 5px solid teal;
    padding-top: 25px;
    padding-bottom: 75px;
}

.innerContainer {
    margin: auto;
    width: 960px;
    background: white;
    border: 2px solid black;
}

#containerTitle {
    padding-left: 15px;
}

#indexPic {
    float: left;
}

#aboutMePara, #indexPic {
    padding: 15px;
}

footer {
    background: grey;
    width: 100%;
}

.footerText {
    padding-top: 30px;
    text-align: center
}
 